<h1>HOME PAGE</h1>
<div>
  <p>Welcome to the Homepage.</p>
  Find the links to the various pages here.
</div>
<br><br>
<%#= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= link_to 'Librarians', librarians_path %><br>
<%= link_to 'Students', students_path %><br>
<%= link_to 'Libraries',  libraries_path %><br>
<%= link_to 'Books',books_path %><br><br>
<% if current_user.admin? %>
  <%= link_to 'Admins',admins_path %><br><br>
<% end %>